---
layout: default
---

// Set body class to make switching on this in css possible
<body class="{% if page.url == '/' %}page-index{% else %}page-{{ page.slug | default: page.title | slugify }}{% endif %}">

{{ content }}

<script>
  // Script to make all external links open in a new tab

  // When the page loads, find all <a> links
  document.addEventListener("DOMContentLoaded", function() {
    const siteHost = window.location.hostname;

    document.querySelectorAll('a[href]').forEach(function(link) {
      const url = new URL(link.href, window.location.origin);
      // If the hostname is different, it's an external link
      if (url.hostname !== siteHost) {
        link.setAttribute('target', '_blank');
        link.setAttribute('rel', 'noopener noreferrer');
      }
    });
  });
</script>